<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>PCB DEFECT DETECTION</title>
</head>
<body>
    
        <h1>PCB DEFECT DETECTION</h1>
        
        <div class="container">
            <!-- Section for Detected Image -->
            <div class="detected-container">
                {% if img_path %}
                <div class="detect">
                    <h2>Detected Image</h2>
                </div>
                <div class="image-box">
                    <img src="{{ img_path }}" alt="Detected Image">
                </div>
                {% else %}
                <div class="image-box">
                    <p>No image uploaded</p>
                </div>
                {% endif %}
                
                <!-- File upload form -->
                <form action="/predict" method="POST" enctype="multipart/form-data">
                    <input type="file" name="image" id="file-input" accept="image/*" capture="camera">
                    <label for="file-input" class="file-label">Choose file</label>
                    <button type="submit" class="btn">Predict</button>
                </form>
            </div>

            <!-- Section for Cropped Images and Predictions -->
            <div class="cropped-container">
                {% if cropped_images %}
                <h2>Crop Image</h2>
                {% for crop in cropped_images %}
                <div class="cropped-image-wrapper">
                    <img src="{{ crop }}" alt="Cropped PCB">
                    <div class="prediction-text">
                        Predicted results <br>
                        {{ details[loop.index0].class }} (Confidence = {{ details[loop.index0].confidence | round(2) }}%)
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    
</body>
</html>
